////
//// Colors
////

$white: #fff;

//$grey-dk-000: #959396;
//$grey-dk-100: #5c5962;
//$grey-dk-200: #44434d;
//$grey-dk-250: #302d36;
//$grey-dk-300: #27262b;

//$grey-lt-000: #f5f6fa;
//$grey-lt-100: #eeebee;
//$grey-lt-200: #ecebed;
//$grey-lt-300: #e6e1e8;

$purple-000: #47204a;
//$purple-100: #47204a;
//$purple-200: #47204a;
//$purple-300: #381885;

$blue-000: #59628e;
//$blue-100: #2869e6;
//$blue-200: #264caf;
//$blue-300: #183385;

//$green-000: #41d693;
//$green-100: #11b584;
//$green-200: #009c7b;
//$green-300: #026e57;

//$yellow-000: #ffeb82;
//$yellow-100: #fadf50;
//$yellow-200: #f7d12e;
//$yellow-300: #e7af06;

//$red-000: #f77e7e;
//$red-100: #f96e65;
//$red-200: #e94c4c;
//$red-300: #dd2e2e;

$body-background-color: #574687;
$sidebar-color: $blue-000;
//$search-background-color: $white;
$table-background-color: $blue-000;
//$code-background-color: $grey-lt-000;

$body-text-color: $white;
$body-heading-color: #37103a;
$nav-child-link-color: $white;
$link-color: $white;
$base-button-color: $purple-000;

////
//// Borders
////

//$border: 1px solid;
//$border-radius: 4px;
$border-color: #fffeb288;

////
//// Grid system
////

//$gutter-spacing: $sp-6;
//$gutter-spacing-sm: $sp-4;
$nav-width: 288px;
$nav-width-md: 288px;
//$content-width: 100;
$header-height: 98px;
//$search-results-width: 500px;
