.navigation, .site-header, .site-footer {
    width: 0px;
}

.site-logo {
    width: 100%;
    height: 100%;
    background-image: url(https://passivepicasso.github.io/Rain-of-Stages/art/icon.png?ver=1);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}
