h1, h2, h3, h4, h5, h6 {
    margin-top: 0em;
    margin-bottom: 0.5em;
    font-weight: 600;
    line-height: 1.15;
    text-decoration: underline;
}

.navigation-list-link.active {
    font-weight: 800;
    color: #fffeb2;
    text-decoration: none;
}

@media (min-width: 31.25rem) and (min-width: 50rem) {
    .navigation-list-item {
        font-size: 18px !important;
    }
}

@media (min-width: 66.5rem) {
    .main-content {
        margin-left: 288px;
        max-width: 1000px;
        width: unset;
    }

    .unity-version-table {
        table-layout: auto;
        display: table-row;
    }

    .table-wrapper {
        display: table-cell;
        max-width: unset;
        min-width: unset;
        width: unset;
    }

    .side-bar {
        width: 256px;
    }
}

.buffer-top {
    margin-top: 1em;
}
